<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<groups>
			<!--
				TC01 = Login
				TC02 = A to Z sorting      
      		-->
			<run>
				<include name="TC01" />
				<include name="TC02" />
				<include name="TC03" />
				<include name="TC04" />
				<include name="TC05" />
				<include name="TC06" />
				<include name="TC07" />
				<include name="TC08" />
				<include name="TC08_1" />
				<include name="TC09" />
				<include name="TC10" />
				<include name="TC12" />
			<!--	
				<include name="TC13" />
				<include name="TC14" />
				<include name="TC15" />
				<include name="TC16" />
				<include name="TC17" />
				<include name="TC18" />
				<include name="TC19" />
				<include name="TC20" />
			-->
			</run>
		</groups>
		<classes>
			<class name="project2.project2.Main" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->